body{
    background-color: #f7f7f7;
}
.masthead{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pull-up{
    margin-top: -100px;
}
.highlight{
    background-color: #ff0;
    padding: 6px;
}

/* ******************** */
.todo-list-group{
    margin: 15px 0;
}
.todo-list-items {
    padding: 10px;
    border: 1px solid #ccc;   
    margin: 2px;
}
.todo-list-items:hover{
    background-color: #ccc;
    cursor: pointer;
}