body{
    background-color: #f1f1f1;
    font:16px/1 'Lato', sans-serif;
}
.highlight{
    background-color: #ff0;
    padding: 6px;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* to compensate for fixed input box at top of page */
.push-down{
    margin-top: 100px;
}
/* controls width of list items */
.wrapper{
    max-width: 450px;
    width: 90%;
    text-align: center;
}
/* space above and below all list items */
.todo-list-group{
    margin: 15px 0;
}
/* generic styles for list items and input text box */
.todo-list-items, input {
    padding: 10px;
    border: 1px solid #fff;   
    margin: 2px;
    font-size: 1.2rem;
    transform: rotate(-6deg);
}
/* force hover over list-item */
.todo-list-items{
    position: relative;
    z-index: 1;
}
/* turn list item red and rotate straight */
.todo-list-items:hover{
    background-color: #ff0000;
    border: 1px solid #ff0000;   
    transition: .1s ease-in-out;
    color: #fff;
    cursor: pointer;
    transform: rotate(0deg);
    z-index: 2;
}
/* Text box where you add new items */
input{
    border: 0;
    transform: rotate(0deg);
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: 10;
    text-align: center;
}
/* 'x' on right hand side of list item */
span.delete-icon{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #ff0000;
    color: white;
    font-size: .9rem;
    line-height: 2.2;
    padding: 3px;
    transform: rotate(6deg);
    display: block;
    margin-left: 20px;
}



