body{
    background-color: #f1f1f1;
    font:16px/1 'Lato', sans-serif;
}
.masthead{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pull-up{
    margin-top: -100px;
}
.highlight{
    background-color: #ff0;
    padding: 6px;
}

/* ******************** */
.todo-list-group{
    margin: 15px 0;
}
.todo-list-items, input {
    padding: 10px;
    border: 1px solid #fff;   
    margin: 2px;
    font-size: 1.2rem;
    position: relative;
}
input{
    border: 0;
}
.todo-list-items:hover{
    background-color: #ccc;
    cursor: pointer;
}
.todo-list-items span.delete-icon{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #ff0000;
    color: white;
    font-size: .9rem;
    line-height: 2.2;
    padding: 3px;
}
a.add-space-left {
    display: inline-block;
    margin-left: 15px;
}
.label{
    display: block;
    text-align: right;
    margin-bottom: 6px;
}
